# Only include Home Assistant related files.
/*
!/.gitignore
!/home/
!/etc/

# Home Assistant user data (main part)
/home/*
!/home/homeassistant/

/etc/*
!/etc/systemd/
!/etc/motion/
!/etc/ufw/
!/etc/ssh/

# Home Assistant service config
/etc/systemd/*
!/etc/systemd/system/
/etc/systemd/system/*
!/etc/systemd/system/home-assistant@homeassistant.service

# "Motion" config (drives the camera)
/etc/motion/*
!/etc/motion/motion.conf

# UFW (Uncomplicated Firewall)
/etc/ufw/*
!/etc/ufw/user.rules
!/etc/ufw/user6.rules
!/etc/ufw/ufw.conf

# SSHD config
/etc/ssh/*
!/etc/ssh/sshd_config
