# Only include Home Assistant related files.
/*
!/.gitignore
!/.README.md
!/ui_screenshot.png
!/diff-gen.sh
!/home/
!/etc/

# Home Assistant user data (main part)
/home/*
!/home/homeassistant/
/home/homeassistant/*
!/home/homeassistant/.homeassistant/

/etc/*
!/etc/systemd/
!/etc/motion/
!/etc/ufw/
!/etc/ssh/

# Home Assistant service config
/etc/systemd/*
!/etc/systemd/system/
/etc/systemd/system/*
!/etc/systemd/system/home-assistant@homeassistant.service

# "Motion" config (drives the camera)
/etc/motion/*
!/etc/motion/motion.conf
!/etc/motion/motion.conf.diff

# UFW (Uncomplicated Firewall)
/etc/ufw/*
!/etc/ufw/user.rules
!/etc/ufw/user6.rules
!/etc/ufw/ufw.conf
!/etc/ufw/user.rules.diff
!/etc/ufw/user6.rules.diff
!/etc/ufw/ufw.conf.diff

# SSHD config
/etc/ssh/*
!/etc/ssh/sshd_config
!/etc/ssh/sshd_config.diff
